<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Search As Agent</title>
    <link
      rel="icon"
      href="{{url_for('static',filename='images/icon_flight.png')}}"
      type="image/x-icon"
    />
  </head>
  <body>
    {% extends 'base_agent.html' %} {% block content %}
    <hr />
    <img
      class="header"
      src="{{url_for('static',filename='images/icon_flight.png')}}"
      alt="An icon of an airplane"
    />

    <h1>Search from All Flights</h1>
    <hr />
    <br />
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
    <a
      href="/agnet_home/agent_search_init"
      class="btn btn-outline-secondary btn-sm"
      tabindex="-1"
      role="button"
      aria-disabled="true"
      >Search again</a
    ><a
      href="/agent_home"
      class="btn btn-outline-secondary btn-sm"
      tabindex="-1"
      role="button"
      aria-disabled="true"
      >Back</a
    >
    <br />
    <div class="card">
      <div class="card-body">
        <form action="/agent_home/agent_search" method="POST">
          From <br />
          <input type="text" name="depart_city" placeholder="city" required />
          <input
            type="text"
            name="depart_airport"
            placeholder="airport"
            required
          />
          <input type="date" name="depart_date" placeholder="date" required />
          <br />
          To <br />
          <input type="text" name="arrival_city" placeholder="city" required />
          <input
            type="text"
            name="arrival_airport"
            placeholder="airport"
            required
          />
          <input type="date" name="arrival_date" placeholder="date" required />
          <br /><br />
          <input type="submit" class="btn btn-dark" value="Search" />
        </form>
      </div>
      <hr />
      <div>
        <table class="table table-hover">
          <th>Airline Name</th>
          <th>Flight Number</th>
          <th>Departure Airport</th>
          <th>Departure Time</th>
          <th>Arrival Airport</th>
          <th>Arrival Time</th>
          <th>Price</th>
          <th>Status</th>
          <th>Airplane ID</th>

          {% for line in results %}
          <tr>
            <td>{{line['airline_name']}}</td>
            <td>{{line['flight_num']}}</td>
            <td>{{line['departure_airport']}}</td>
            <td>{{line['departure_time']}}</td>
            <td>{{line['arrival_airport']}}</td>
            <td>{{line['arrival_time']}}</td>
            <td>{{line['price']}}</td>
            <td>{{line['status']}}</td>
            <td>{{line['airplane_id']}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
