<!DOCTYPE html>
<html>
  <head>
    <title>Book flighs</title>
    <link
      rel="icon"
      href="{{url_for('static',filename='images/icon_flight.png')}}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />
  </head>

  <body>
    {% extends 'base_customer.html' %} {% block content %}
    <hr />
    <img
      class="header"
      src="{{url_for('static',filename='images/icon_flight.png')}}"
      alt="An icon of an airplane"
    />
    <h1>Book New Ticket</h1>
    <hr />
    <a
      href="/customer_home"
      class="btn btn-outline-secondary btn-sm"
      tabindex="-1"
      role="button"
      aria-disabled="true"
      >Back</a
    >
    <br /><br />
    <div class="card">
      <div class="card-body">
        <h3>1. Please enter your departure and destination informaion:</h3>
        <div>
          <form action="/customer_home/customer_purchase_search" method="POST">
            From <br />
            <input type="text" name="depart_city" placeholder="city" required />
            <input
              type="text"
              name="depart_airport"
              placeholder="airport"
              required
            />
            <input type="date" name="depart_date" placeholder="date" required />
            <br /><br />
            To <br />
            <input
              type="text"
              name="arrival_city"
              placeholder="city"
              required
            />
            <input
              type="text"
              name="arrival_airport"
              placeholder="airport"
              required
            />
            <input
              type="date"
              name="arrival_date"
              placeholder="date"
              required
            />
            <br /><br />
            <input type="submit" class="btn btn-dark" value="Search" />
          </form>
        </div>
        <br />
        <hr />
        <h3>2. Flights available based on your chosen options:</h3>
        <div>
          <table class="table table-hover">
            <th>Airline Name</th>
            <th>Flight Number</th>
            <th>Departure Airport</th>
            <th>Departure Time</th>
            <th>Arrival Airport</th>
            <th>Arrival Time</th>
            <th>Price</th>
            <th>Airplane ID</th>

            {% for line in results %}
            <tr>
              <td>{{line['airline_name']}}</td>
              <td>{{line['flight_num']}}</td>
              <td>{{line['departure_airport']}}</td>
              <td>{{line['departure_time']}}</td>
              <td>{{line['arrival_airport']}}</td>
              <td>{{line['arrival_time']}}</td>
              <td>{{line['price']}}</td>
              <td>{{line['airplane_id']}}</td>
            </tr>
            {% endfor %}
          </table>
          {% if searchError %}
          <p class="error"><strong>Error:</strong> {{searchError}}</p>
          {% endif %}
          <br />
        </div>
        <hr />
        <h3>3. Choose your flight</h3>
        <div>
          <form action="/customer_home/customer_purchase" method="POST">
            Airline Name <br /><input
              type="text"
              name="airline_name"
              placeholder="airline_name"
              required
            /><br />
            Flight Number <br /><input
              type="text"
              name="flight_num"
              placeholder="flight_num"
              required
            />
            <br />
            <br />
            <input type="submit" class="btn btn-dark" value="Purchase" />
          </form>

          {% if purchaseError %}
          <p class="error"><strong>Error:</strong> {{purchaseError}}</p>
          {% endif %}
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
