<html>
<head>
    <title>Grant New Permission</title>
    <link
    rel="icon"
    href="{{url_for('static',filename='images/icon_flight.png')}}"
    type="image/x-icon"
  />
</head>
<body>
  {% extends 'base_staff.html' %} {% block content %}
        <hr />
        <img
          class="header"
          src="{{url_for('static',filename='images/icon_flight.png')}}"
          alt="An icon of an airplane"
        />
        <h1>Grant Permission</h1>
        <hr>
        <a
        href="/staff_home"
        class="btn btn-outline-secondary btn-sm"
        tabindex="-1"
        role="button"
        aria-disabled="true"
        >Back</a
      >
</br><br>
{% if error %}
<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}
<div class="card">
  <div class="card-body">
    <form action="/staff_home/staff_granting_newpermissions" method="POST">
      Username <br><input type="text" name = "username" placeholder="username" required/>
      <fieldset class="row mb-3">
        
        <div class="col-sm-10">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="permission_type"
              id="gridRadios1"
              value="admin"
            />
            <label class="form-check-label" for="gridRadios1">
              Admin
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="permission_type"
              id="gridRadios2"
              value="Operator"
            />
            <label class="form-check-label" for="gridRadios2">
              Operator
            </label>
          </div>
        </div>
      </fieldset> </br><br>
      <input type="submit" class="btn btn-dark" value = Add />
    </form>

  </div>
</div>

{%endblock%}
</body>
</html>