<html>
    <head>
        <title>viewrevenue</title>
        <link
        rel="icon"
        href="{{url_for('static',filename='images/icon_flight.png')}}"
        type="image/x-icon"
      />
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {
                packages: ['corechart']
            });
        </script>
    </head>

    <body>

        {% extends 'base_staff.html' %} {% block content %}
        <hr />
        <img
          class="header"
          src="{{url_for('static',filename='images/icon_flight.png')}}"
          alt="An icon of an airplane"
        />
        <h1>Here is the revenue</h1>
        <hr>
        <a
        href="/staff_home"
        class="btn btn-outline-secondary btn-sm"
        tabindex="-1"
        role="button"
        aria-disabled="true"
        >Back</a
      >
        {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
        </br>
        <div class="card">
            <div class="card-body">
                <h2>Comparison of revenue earned last month:</h2></br>
                <div id="mcontainer" style="width: 350px; height: 200px; margin: 0 auto"></div><hr>
                <h2>Comparison of revenue earned last year:</h2></br>
                <div id="ycontainer" style="width: 350px; height: 200px; margin: 0 auto"></div>            </div>
          </div>
        
        <script language="JavaScript">
            function drawMChart() {
                // var a = [['Direct sales','Indirect sales'],[parseInt('{{mdirect}}'),parseInt('{{mindirect}}')]];
                // console.log(a);
                
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Sales Type');
                data.addColumn('number', 'Revenue');
                data.addRows([
                ['Direct sales',  parseInt('{{mdirect}}')],
                ['Indirect sales', parseInt('{{mindirect}}')]
                ]);

                var options = {
                    title: 'Comparison of revenue earned last month',
                    sliceVisibilityThreshold: 0,
                    pieSliceText: 'value',
                    chartArea: {
                        left: 10,
                        top: 10,
                        width: '100%',
                        height: '90%'
                    },
                    tooltip: {
                        trigger: 'none',
                        text: 'value'
                    }
                };
                var chart = new google.visualization.PieChart(document.getElementById('mcontainer'));
                chart.draw(data, options);
            }
            google.charts.setOnLoadCallback(drawMChart);

            function drawYChart() {
                // var a = [['Direct sales','Indirect sales'],[parseInt('{{mdirect}}'),parseInt('{{mindirect}}')]];
                // console.log(a);
                
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Sales Type');
                data.addColumn('number', 'Revenue');
                data.addRows([
                ['Direct sales',  parseInt('{{ydirect}}')],
                ['Indirect sales', parseInt('{{yindirect}}')]
                ]);

                var options = {
                    title: 'Comparison of revenue earned last year',
                    sliceVisibilityThreshold: 0,
                    pieSliceText: 'value',
                    chartArea: {
                        left: 10,
                        top: 10,
                        width: '100%',
                        height: '90%'
                    },
                    tooltip: {
                        trigger: 'none',
                        text: 'value'
                    }
                };
                var chart = new google.visualization.PieChart(document.getElementById('ycontainer'));
                chart.draw(data, options);
            }
            google.charts.setOnLoadCallback(drawYChart);
        </script>
        </div>

        {%endblock%}

    </body>


</html>
