<html>
  <head>
    <title>FLIGHT STATUS</title>
    <link
      rel="icon"
      href="{{url_for('static',filename='images/icon_flight.png')}}"
      type="image/x-icon"
    />
  </head>

  <body>
    {% extends 'base_staff.html' %} {% block content %}
    <hr />
    <img
      class="header"
      src="{{url_for('static',filename='images/icon_flight.png')}}"
      alt="An icon of an airplane"
    />

    <h1>OUTBOUND:</h1>
    <hr />
    <a
      href="/staff_home"
      class="btn btn-outline-secondary btn-sm"
      tabindex="-1"
      role="button"
      aria-disabled="true"
      >Back</a
    >
    <br />
    <div>
      <table class="table table-hover">
        <th>airline_name</th>
        <th>flight_num</th>
        <th>status</th>
        <th>departure_time</th>
        <th>arrival_time</th>

        {% for line in results %}
        <tr>
          <td>{{line['airline_name']}}</td>
          <td>{{line['flight_num']}}</td>
          <td>{{line['status']}}</td>
          <td>{{line['departure_time']}}</td>
          <td>{{line['arrival_time']}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {%endblock%}
  </body>
</html>
